<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Resources/BringUserBet/auto_bring.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,707},{240,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,25}</string>
			</dict>
			<key>Resources/BringUserBet/bring_content.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,1209},{154,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,26}</string>
			</dict>
			<key>Resources/BringUserBet/bring_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,1078},{168,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,24}</string>
			</dict>
			<key>Resources/BringUserBet/cancel1.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,1248},{172,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,52}</string>
			</dict>
			<key>Resources/BringUserBet/cancel2.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,1422},{172,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,52}</string>
			</dict>
			<key>Resources/BringUserBet/ok1.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,1657},{172,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,52}</string>
			</dict>
			<key>Resources/BringUserBet/ok2.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,1655},{172,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,52}</string>
			</dict>
			<key>Resources/BringUserBet/select1.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,1579},{31,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,30}</string>
			</dict>
			<key>Resources/BringUserBet/select2.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,1536},{31,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,30}</string>
			</dict>
			<key>Resources/BringUserBet/slider_bk.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,1085},{154,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,27}</string>
			</dict>
			<key>Resources/BringUserBet/slider_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,1454},{44,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,33}</string>
			</dict>
			<key>Resources/BringUserBet/name.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,566},{147,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,39}</string>
			</dict>
			<key>Resources/BringUserBet/slider_bk2.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,1092},{154,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,27}</string>
			</dict>
			<key>Resources/DialogBox/bk.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{443,509}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{443,509}</string>
			</dict>
			<key>Resources/DialogBox/close1.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,1611},{46,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,49}</string>
			</dict>
			<key>Resources/DialogBox/close2.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,2000},{46,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,49}</string>
			</dict>
			<key>Resources/gameUser/banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,1500},{31,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,34}</string>
			</dict>
			<key>Resources/gameUser/infoBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,736},{110,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,160}</string>
			</dict>
			<key>Resources/gameUser/infoBg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,566},{118,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,168}</string>
			</dict>
			<key>Resources/gameUser/jetton.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,1631},{23,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,22}</string>
			</dict>
			<key>Resources/gameUser/qi_pai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1461},{110,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,160}</string>
			</dict>
			<key>Resources/gameUser/sit_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,1882},{68,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,90}</string>
			</dict>
			<key>Resources/gameUser/weight_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,829},{126,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,19}</string>
			</dict>
			<key>Resources/ReBringChip/choumabuzu.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,392},{313,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{313,24}</string>
			</dict>
			<key>Resources/ReBringChip/gou1.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,1568},{31,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,30}</string>
			</dict>
			<key>Resources/ReBringChip/gou2.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,1600},{31,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,30}</string>
			</dict>
			<key>Resources/ReBringChip/name.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,919},{145,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,39}</string>
			</dict>
			<key>Resources/ReBringChip/num_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,1},{291,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{291,58}</string>
			</dict>
			<key>Resources/ReBringChip/num_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,294},{291,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{291,22}</string>
			</dict>
			<key>Resources/ReBringChip/ok1.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,1662},{172,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,52}</string>
			</dict>
			<key>Resources/ReBringChip/ok2.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,1836},{172,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,52}</string>
			</dict>
			<key>Resources/ReBringChip/slider_bk1.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,294},{393,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{393,34}</string>
			</dict>
			<key>Resources/ReBringChip/slider_bk2.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,1},{389,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{389,30}</string>
			</dict>
			<key>Resources/ReBringChip/slider_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,1573},{82,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,49}</string>
			</dict>
			<key>Resources/ReBringChip/shengyu.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,1248},{128,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,23}</string>
			</dict>
			<key>Resources/allin_btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,1955},{150,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,55}</string>
			</dict>
			<key>Resources/allin_btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,1825},{150,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,55}</string>
			</dict>
			<key>Resources/back_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,1901},{66,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,65}</string>
			</dict>
			<key>Resources/back_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,1907},{66,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,65}</string>
			</dict>
			<key>Resources/back_room_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,949},{141,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,30}</string>
			</dict>
			<key>Resources/back_room_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,1066},{141,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,30}</string>
			</dict>
			<key>Resources/chat_btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1969},{65,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,63}</string>
			</dict>
			<key>Resources/chat_btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,1901},{65,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,63}</string>
			</dict>
			<key>Resources/chat_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,446},{273,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{273,40}</string>
			</dict>
			<key>Resources/deal_cards_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,1709},{76,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,112}</string>
			</dict>
			<key>Resources/game_set_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,1969},{66,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,65}</string>
			</dict>
			<key>Resources/game_set_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,1974},{66,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,65}</string>
			</dict>
			<key>Resources/jetton_fivefold.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,1986},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>Resources/jetton_frame1.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,1825},{76,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,74}</string>
			</dict>
			<key>Resources/jetton_frame2.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,1831},{76,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,74}</string>
			</dict>
			<key>Resources/jetton_hundredfold.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,1968},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>Resources/jetton_onefold.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,1637},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>Resources/jetton_tenfold.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,1700},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>Resources/jiazhu_slider.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,868},{160,435}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,435}</string>
			</dict>
			<key>Resources/jiazhu_slider_btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,1901},{61,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,83}</string>
			</dict>
			<key>Resources/jiazhu_slider_btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,1952},{61,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,83}</string>
			</dict>
			<key>Resources/op_genzhu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1378},{200,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,61}</string>
			</dict>
			<key>Resources/op_genzhu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1305},{200,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,61}</string>
			</dict>
			<key>Resources/op_jiazhu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,1378},{200,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,61}</string>
			</dict>
			<key>Resources/op_jiazhu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1378},{200,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,61}</string>
			</dict>
			<key>Resources/op_qipai1.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,1305},{200,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,61}</string>
			</dict>
			<key>Resources/paixing_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1596},{239,398}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{239,398}</string>
			</dict>
			<key>Resources/paixing_show.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,1441},{140,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,388}</string>
			</dict>
			<key>Resources/set_genrenyi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1305},{200,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,61}</string>
			</dict>
			<key>Resources/set_genrenyi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,1017},{200,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,61}</string>
			</dict>
			<key>Resources/set_kanorqi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,1219},{200,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,61}</string>
			</dict>
			<key>Resources/set_kanorqi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,1421},{200,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,61}</string>
			</dict>
			<key>Resources/table_jetton_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,957},{126,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,19}</string>
			</dict>
			<key>Resources/type_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,1365},{94,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,20}</string>
			</dict>
			<key>Resources/type_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,1461},{38,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,22}</string>
			</dict>
			<key>Resources/type_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1573},{57,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,20}</string>
			</dict>
			<key>Resources/type_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,1542},{38,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,20}</string>
			</dict>
			<key>Resources/type_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,1573},{39,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,20}</string>
			</dict>
			<key>Resources/type_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,1573},{39,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,20}</string>
			</dict>
			<key>Resources/type_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,1573},{39,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,20}</string>
			</dict>
			<key>Resources/type_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,1489},{39,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,20}</string>
			</dict>
			<key>Resources/type_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,1501},{39,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,20}</string>
			</dict>
			<key>Resources/type_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,1530},{39,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,20}</string>
			</dict>
			<key>Resources/rebringchip1.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,689},{113,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,38}</string>
			</dict>
			<key>Resources/rebringchip2.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,804},{113,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,38}</string>
			</dict>
			<key>Resources/wait_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,587},{119,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,21}</string>
			</dict>
			<key>Resources/op_jiazhu_num1.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,1305},{200,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,61}</string>
			</dict>
			<key>Resources/op_jiazhu_num2.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,1305},{200,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,61}</string>
			</dict>
			<key>Resources/op_allin1.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,1596},{200,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,61}</string>
			</dict>
			<key>Resources/op_allin2.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,1507},{200,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,61}</string>
			</dict>
			<key>Resources/op_rangpai1.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,1623},{200,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,61}</string>
			</dict>
			<key>Resources/op_rangpai2.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,1507},{200,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,61}</string>
			</dict>
			<key>Resources/chat/background.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1},{563,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{563,377}</string>
			</dict>
			<key>Resources/chat/biaoqing1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1996},{137,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,50}</string>
			</dict>
			<key>Resources/chat/biaoqing2.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,1996},{137,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,50}</string>
			</dict>
			<key>Resources/chat/biaoqingkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,1763},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>Resources/chat/changyongyu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,1017},{137,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,50}</string>
			</dict>
			<key>Resources/chat/changyongyu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,1156},{137,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,50}</string>
			</dict>
			<key>Resources/chat/fasong1.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,1901},{159,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,52}</string>
			</dict>
			<key>Resources/chat/fasong2.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,1825},{159,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,52}</string>
			</dict>
			<key>Resources/chat/liaotian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,1295},{137,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,50}</string>
			</dict>
			<key>Resources/chat/liaotian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,1434},{137,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,50}</string>
			</dict>
			<key>Resources/chat/fasongkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,508},{358,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{358,35}</string>
			</dict>
			<key>Resources/chat/select.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,1},{505,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{505,39}</string>
			</dict>
			<key>Resources/set/background.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,446},{449,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{449,254}</string>
			</dict>
			<key>Resources/set/btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,1539},{38,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,39}</string>
			</dict>
			<key>Resources/set/off.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,1441},{96,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,29}</string>
			</dict>
			<key>Resources/set/on.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,1539},{96,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,29}</string>
			</dict>
			<key>Resources/set/yinxiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,1305},{73,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,34}</string>
			</dict>
			<key>Resources/set/yinyue.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,1465},{72,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,35}</string>
			</dict>
			<key>Resources/set/zhendong.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,1380},{72,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,34}</string>
			</dict>
			<key>Resources/UserInfo/background.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,566},{449,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{449,226}</string>
			</dict>
			<key>Resources/UserInfo/label.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,1571},{30,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,20}</string>
			</dict>
			<key>Resources/UserInfo/label1.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,868},{208,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,40}</string>
			</dict>
			<key>Resources/UserInfo/label2.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,1378},{54,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,23}</string>
			</dict>
			<key>Resources/gameEnd/lose_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,1241},{110,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,30}</string>
			</dict>
			<key>Resources/gameEnd/win_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,1353},{110,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,30}</string>
			</dict>
			<key>Resources/wait_user.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,708},{119,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,21}</string>
			</dict>
			<key>Resources/showTalk.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,1829},{172,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,70}</string>
			</dict>
			<key>Resources/chouma.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,1603},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>Resources/ShowDizhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,1434},{53,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,23}</string>
			</dict>
			<key>Resources/op_qipai2.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,1798},{200,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,61}</string>
			</dict>
			<key>Resources/paixing_button_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,1882},{58,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,63}</string>
			</dict>
			<key>Resources/paixing_button_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,1947},{58,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,63}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>dzpkBig.png</string>
			<key>realTextureFileName</key>
			<string>dzpkBig.png</string>
			<key>size</key>
			<string>{1023,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>