<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,454},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>b-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,452},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>b-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,2},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>b-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,2},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>b-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,2},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>b-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,2},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>b-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,2},{18,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>b-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,452},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>b-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>b-A.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,454},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>b-J-image.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,99},{75,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,95}}</string>
                <key>sourceSize</key>
                <string>{75,95}</string>
            </dict>
            <key>b-J.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,142},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>b-K-image.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{75,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,95}}</string>
                <key>sourceSize</key>
                <string>{75,95}</string>
            </dict>
            <key>b-K.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,484},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>b-Q-image.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,357},{75,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,95}}</string>
                <key>sourceSize</key>
                <string>{75,95}</string>
            </dict>
            <key>b-Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,454},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>b-joker-image.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,355},{70,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,95}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>b-joker.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,94},{14,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,90}}</string>
                <key>sourceSize</key>
                <string>{16,90}</string>
            </dict>
            <key>back-card.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{101,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,127}}</string>
                <key>sourceSize</key>
                <string>{101,127}</string>
            </dict>
            <key>club.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,72},{67,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{69,68}</string>
            </dict>
            <key>club_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,484},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{22,23}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,196},{59,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{59,68}}</string>
                <key>sourceSize</key>
                <string>{69,68}</string>
            </dict>
            <key>diamond_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{22,25}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>face-card.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,127}}</string>
                <key>sourceSize</key>
                <string>{101,127}</string>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,196},{67,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{67,60}}</string>
                <key>sourceSize</key>
                <string>{69,68}</string>
            </dict>
            <key>heart_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,484},{24,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{24,21}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>r-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,454},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>r-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,484},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>r-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,172},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>r-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,142},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>r-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,172},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>r-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,142},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>r-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,482},{18,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>r-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,454},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>r-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,452},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>r-A.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>r-J-image.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,260},{75,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,95}}</string>
                <key>sourceSize</key>
                <string>{75,95}</string>
            </dict>
            <key>r-J.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,482},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>r-K-image.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{75,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,95}}</string>
                <key>sourceSize</key>
                <string>{75,95}</string>
            </dict>
            <key>r-K.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,484},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>r-Q-image.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{75,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,95}}</string>
                <key>sourceSize</key>
                <string>{75,95}</string>
            </dict>
            <key>r-Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,454},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>r-joker-image.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,258},{70,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,95}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>r-joker.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{14,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,90}}</string>
                <key>sourceSize</key>
                <string>{16,90}</string>
            </dict>
            <key>spade.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{69,68}</string>
            </dict>
            <key>spade_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,484},{24,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{24,23}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poke.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fb3bd277d9ac613b5f19c38738c325b$</string>
            <key>textureFileName</key>
            <string>poke.png</string>
        </dict>
    </dict>
</plist>
