<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>A_Public/backGround.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,2},{86,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,77}</string>
			</dict>
			<key>A_Public/biaotidi.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,917},{345,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{345,77}</string>
			</dict>
			<key>A_Public/bikuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,878},{132,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,29}</string>
			</dict>
			<key>A_Public/Btn_Bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,750},{232,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,54}</string>
			</dict>
			<key>A_Public/btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,93},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>A_Public/daosanjiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,998},{27,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,19}</string>
			</dict>
			<key>A_Public/datouxiangkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,2},{85,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,80}</string>
			</dict>
			<key>A_Public/dizhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,878},{90,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,28}</string>
			</dict>
			<key>A_Public/gouxuankuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,2},{54,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,44}</string>
			</dict>
			<key>A_Public/gouxuankuang-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,60},{54,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,44}</string>
			</dict>
			<key>A_Public/houtui.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,118},{52,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,53}</string>
			</dict>
			<key>A_Public/Img_bean.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,878},{36,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,31}</string>
			</dict>
			<key>A_Public/qhzh-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,838},{199,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,36}</string>
			</dict>
			<key>A_Public/shurukuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,2},{44,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,38}</string>
			</dict>
			<key>A_Public/toastbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,695},{310,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{310,51}</string>
			</dict>
			<key>A_Public/matchroom.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{212,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,340}</string>
			</dict>
			<key>LobbyScene/btn_setup.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,76},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>LobbyScene/channel_bk1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,346},{425,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{425,138}</string>
			</dict>
			<key>LobbyScene/channel_bk2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,775},{425,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{425,138}</string>
			</dict>
			<key>LobbyScene/channel_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,553},{128,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,138}</string>
			</dict>
			<key>LobbyScene/OK.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,998},{33,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,18}</string>
			</dict>
			<key>LobbyScene/player_count_bk.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,981},{252,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,35}</string>
			</dict>
			<key>LobbyScene/separate.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,998},{3,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{3,22}</string>
			</dict>
			<key>LobbyScene/touxiangkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,163},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>LobbyScene/table_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,346},{203,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,87}</string>
			</dict>
			<key>LobbyScene/VS_go.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,83},{75,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,78}</string>
			</dict>
			<key>LobbyScene/VS_ready.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,981},{67,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,41}</string>
			</dict>
			<key>LobbyScene/zhuomiankuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,2},{80,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,70}</string>
			</dict>
			<key>RoomScene/Btn_bet_set.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,86},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>RoomScene/di.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,153},{67,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,65}</string>
			</dict>
			<key>SetupLayer/Btn_Change_Account.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,838},{164,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,36}</string>
			</dict>
			<key>SetupLayer/volce-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,981},{322,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{322,26}</string>
			</dict>
			<key>SetupLayer/volce-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,808},{322,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{322,26}</string>
			</dict>
			<key>SetupLayer/yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,50},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>UpdateScene/jindutiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,950},{666,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{666,27}</string>
			</dict>
			<key>UpdateScene/jindutiaodi.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,917},{666,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{666,29}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>GameTextures.png</string>
			<key>realTextureFileName</key>
			<string>GameTextures.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>