<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anyaoroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,558},{212,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,340}}</string>
                <key>sourceSize</key>
                <string>{212,340}</string>
            </dict>
            <key>challengeroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,686},{212,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,340}}</string>
                <key>sourceSize</key>
                <string>{212,340}</string>
            </dict>
            <key>fastroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,344},{212,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,340}}</string>
                <key>sourceSize</key>
                <string>{212,340}</string>
            </dict>
            <key>matchroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,216},{212,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,340}}</string>
                <key>sourceSize</key>
                <string>{212,340}</string>
            </dict>
            <key>mingyaoroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,344},{212,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,340}}</string>
                <key>sourceSize</key>
                <string>{212,340}</string>
            </dict>
            <key>moneyroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{212,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,340}}</string>
                <key>sourceSize</key>
                <string>{212,340}</string>
            </dict>
            <key>roundroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{212,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,340}}</string>
                <key>sourceSize</key>
                <string>{212,340}</string>
            </dict>
            <key>scoreroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{212,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,340}}</string>
                <key>sourceSize</key>
                <string>{212,340}</string>
            </dict>
            <key>weekroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{212,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,340}}</string>
                <key>sourceSize</key>
                <string>{212,340}</string>
            </dict>
            <key>wraproom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,340}}</string>
                <key>sourceSize</key>
                <string>{212,340}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>channelUI.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e2d75cf76c7b708d5d7ab37d63a541b$</string>
            <key>textureFileName</key>
            <string>channelUI.png</string>
        </dict>
    </dict>
</plist>
