<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>#00.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,220},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#01.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,112},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#02.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#03.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,112},{54,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#04.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,164},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#05.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#06.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,110},{54,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#07.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,58},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#08.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,58},{54,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#09.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,112},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#10.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#11.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,58},{54,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#12.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,444},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#13.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,58},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#14.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,388},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#15.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,332},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#16.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,58},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#17.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,220},{54,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#18.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,112},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#19.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#20.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,164},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#21.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,276},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#22.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,444},{54,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#23.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,388},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#24.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,58},{54,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#25.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#26.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#27.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#28.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,58},{54,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#30.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,332},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#32.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,220},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#33.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,112},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#34.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,112},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#35.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,164},{54,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#36.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,56},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#38.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,276},{54,50}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#43.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,444},{54,50}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#44.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,388},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#45.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,332},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#47.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,276},{54,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#48.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,112},{54,50}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,50}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#49.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{54,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>#50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ChatExpression.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4854c56dfbd10a6147f696ed38f69c4$</string>
            <key>textureFileName</key>
            <string>ChatExpression.png</string>
        </dict>
    </dict>
</plist>
