<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>logo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2040},{1,1}}</string>
                <key>offset</key>
                <string>{-567.5,319.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>logo_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,1042},{884,600}}</string>
                <key>offset</key>
                <string>{89,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,40},{884,600}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>logo_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3130,2},{472,394}}</string>
                <key>offset</key>
                <string>{111,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,83},{472,394}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>logo_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{3604,2},{410,298}}</string>
                <key>offset</key>
                <string>{163,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{526,149},{410,298}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>logo_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,644},{508,302}}</string>
                <key>offset</key>
                <string>{307,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{621,137},{508,302}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>logo_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2438,644},{442,300}}</string>
                <key>offset</key>
                <string>{347,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{694,139},{442,300}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>logo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2558,2},{570,608}}</string>
                <key>offset</key>
                <string>{-283,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{570,608}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>logo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,2},{628,640}}</string>
                <key>offset</key>
                <string>{-254,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{628,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>logo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,1030},{776,640}}</string>
                <key>offset</key>
                <string>{-180,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{776,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>logo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1060},{978,640}}</string>
                <key>offset</key>
                <string>{-79,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{978,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>logo_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{1026,640}}</string>
                <key>offset</key>
                <string>{-55,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1026,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>logo_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1056,640}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,0},{1056,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>logo_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{1038,640}}</string>
                <key>offset</key>
                <string>{49,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,0},{1038,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>logo_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1042},{962,636}}</string>
                <key>offset</key>
                <string>{65,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,4},{962,636}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>logoAnimation.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e358628f653c3a8abd69103d353c64b$</string>
            <key>textureFileName</key>
            <string>logoAnimation.png</string>
        </dict>
    </dict>
</plist>
