<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paint1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{228,298}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{228,298}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>paint10.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,234},{230,298}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{230,298}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>paint11.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,466},{228,298}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{228,298}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>paint12.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,244},{228,298}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{228,298}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>paint13.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{240,298}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{240,298}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>paint14.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,706},{226,296}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,3},{226,296}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>paint15.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,934},{226,292}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,3},{226,292}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>paint16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1174},{226,280}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,5},{226,280}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>paint17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1662},{246,258}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{246,258}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>paint18.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1152},{236,288}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{236,288}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>paint19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{230,296}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{230,296}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>paint2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{228,298}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{228,298}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>paint20.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{230,298}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{230,298}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>paint3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,298}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{240,298}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>paint4.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,696},{226,296}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,3},{226,296}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>paint5.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,924},{226,292}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,3},{226,292}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>paint6.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1162},{226,280}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,5},{226,280}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>paint7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1402},{246,258}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{246,258}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>paint8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{236,288}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{236,288}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
            <key>paint9.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,474},{230,296}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{230,296}}</string>
                <key>sourceSize</key>
                <string>{250,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>paintAnimation.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14023b3a72306a0006cc7c6518a29d69$</string>
            <key>textureFileName</key>
            <string>paintAnimation.png</string>
        </dict>
    </dict>
</plist>
