<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Resources/newResources/Lottery/duihuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,774},{168,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,63}</string>
			</dict>
			<key>Resources/newResources/Lottery/exchange_goods_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{208,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,296}</string>
			</dict>
			<key>Resources/newResources/Lottery/exchange_yuanbao_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,812},{154,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,32}</string>
			</dict>
			<key>Resources/newResources/Lottery/exchange_yuanbao_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,262},{66,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,26}</string>
			</dict>
			<key>Resources/newResources/Lottery/goods_detail.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,3},{117,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,22}</string>
			</dict>
			<key>Resources/newResources/Lottery/lottery_wenzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,467},{99,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,50}</string>
			</dict>
			<key>Resources/newResources/Lottery/photo_loading.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,305},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Resources/newResources/Lottery/ps1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,995},{550,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,22}</string>
			</dict>
			<key>Resources/newResources/Lottery/shandeng1.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,698},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>Resources/newResources/Lottery/shandeng2.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,734},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>Resources/newResources/Lottery/tobig.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,469},{144,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,48}</string>
			</dict>
			<key>Resources/newResources/Lottery/tosmall.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,469},{144,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,48}</string>
			</dict>
			<key>Resources/newResources/Lottery/wenzi_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,523},{85,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>Resources/newResources/Lottery/yuanbaobg.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,3},{326,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{326,45}</string>
			</dict>
			<key>Resources/newResources/register/putongzhuce1.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,819},{124,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,45}</string>
			</dict>
			<key>Resources/newResources/register/putongzhuce2.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,3},{124,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,45}</string>
			</dict>
			<key>Resources/newResources/register/shurukuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,197},{44,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,38}</string>
			</dict>
			<key>Resources/newResources/register/xiayibu.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,3},{236,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{236,58}</string>
			</dict>
			<key>Resources/newResources/register/zhuce1.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,133},{124,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,45}</string>
			</dict>
			<key>Resources/newResources/register/zhuce2.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,263},{124,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,45}</string>
			</dict>
			<key>Resources/newResources/register/zhucezhanghao.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,393},{124,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,32}</string>
			</dict>
			<key>Resources/newResources/Room/changchun.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,523},{124,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,32}</string>
			</dict>
			<key>Resources/newResources/Room/dikuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,819},{345,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{345,77}</string>
			</dict>
			<key>Resources/newResources/Room/hall_0022_zaixianrenshu.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,653},{91,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,38}</string>
			</dict>
			<key>Resources/newResources/Room/kuaisukaishi.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,405},{56,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,158}</string>
			</dict>
			<key>Resources/newResources/Room/morentouxiang.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{518,3},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>Resources/newResources/Room/OK.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,185},{33,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,18}</string>
			</dict>
			<key>Resources/newResources/Room/table_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,405},{104,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,105}</string>
			</dict>
			<key>Resources/newResources/Room/table_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,137},{102,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,105}</string>
			</dict>
			<key>Resources/newResources/Room/touxiangkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,267},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Resources/newResources/Room/VS_go.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,3},{75,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,78}</string>
			</dict>
			<key>Resources/newResources/Room/VS_ready.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,337},{67,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,41}</string>
			</dict>
			<key>Resources/newResources/Room/zhuomiankuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,3},{80,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,70}</string>
			</dict>
			<key>Resources/newResources/Room/zhuozi.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,305},{93,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,95}</string>
			</dict>
			<key>Resources/newResources/Setting/di.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,286},{67,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,65}</string>
			</dict>
			<key>Resources/newResources/Setting/gengxin.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,647},{110,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,50}</string>
			</dict>
			<key>Resources/newResources/Setting/gouxuankuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,201},{54,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,44}</string>
			</dict>
			<key>Resources/newResources/Setting/gouxuankuang-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,81},{54,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,44}</string>
			</dict>
			<key>Resources/newResources/Setting/qhzh-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,335},{199,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{199,36}</string>
			</dict>
			<key>Resources/newResources/Setting/qiehuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,819},{164,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,36}</string>
			</dict>
			<key>Resources/newResources/Setting/shezhibiaoti.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,657},{124,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,32}</string>
			</dict>
			<key>Resources/newResources/Setting/szguan.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,131},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>Resources/newResources/Setting/volce-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,953},{322,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{322,26}</string>
			</dict>
			<key>Resources/newResources/Setting/volce-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,3},{322,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{322,26}</string>
			</dict>
			<key>Resources/newResources/Setting/yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,314},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>Resources/newResources/ShangchengDonghua/shangcheng_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,819},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Resources/newResources/ShangchengDonghua/shangcheng_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,819},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Resources/newResources/ShangchengDonghua/shangcheng_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,3},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Resources/newResources/ShangchengDonghua/shangcheng_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,137},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Resources/newResources/ShangchengDonghua/shangcheng_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,271},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Resources/newResources/ShangchengDonghua/shangcheng_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,393},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Resources/newResources/ShangchengDonghua/shangcheng_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,523},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Resources/newResources/ShangchengDonghua/shangcheng_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,523},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Resources/newResources/ShangchengDonghua/shangcheng_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,523},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Resources/newResources/ShangchengDonghua/shangcheng_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,3},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Resources/newResources/Task/meirirenwu.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,248},{124,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,32}</string>
			</dict>
			<key>Resources/newResources/Task/taskBox_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,527},{114,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,99}</string>
			</dict>
			<key>Resources/newResources/Task/taskBox_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,608},{84,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>Resources/newResources/Task/taskBox_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,245},{113,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,98}</string>
			</dict>
			<key>Resources/newResources/Task/taskListBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,717},{595,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{595,53}</string>
			</dict>
			<key>Resources/newResources/Task/taskMsg.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,706},{194,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,62}</string>
			</dict>
			<key>Resources/newResources/Vip/huiyuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,657},{99,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,50}</string>
			</dict>
			<key>Resources/newResources/Vip/VIP.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,224},{24,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,13}</string>
			</dict>
			<key>Resources/newResources/Vip/VIP-hui.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,243},{24,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,13}</string>
			</dict>
			<key>Resources/newResources/Vip/youxidoudi.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,3},{188,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{188,50}</string>
			</dict>
			<key>Resources/newResources/backGround.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,137},{86,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,77}</string>
			</dict>
			<key>Resources/newResources/baoxianxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,87},{124,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,32}</string>
			</dict>
			<key>Resources/newResources/baoxianxiangyanqi.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,540},{160,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,32}</string>
			</dict>
			<key>Resources/newResources/biaotidi.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,902},{345,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{345,77}</string>
			</dict>
			<key>Resources/newResources/difen.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,331},{65,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,26}</string>
			</dict>
			<key>Resources/newResources/erjimima.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,359},{124,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,32}</string>
			</dict>
			<key>Resources/newResources/guanbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,201},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>Resources/newResources/houtui.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,267},{52,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,53}</string>
			</dict>
			<key>Resources/newResources/huawen-di.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,819},{170,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>Resources/newResources/huawen-kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,511},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Resources/newResources/laba.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,349},{37,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,42}</string>
			</dict>
			<key>Resources/newResources/shezhidizhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,229},{124,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,32}</string>
			</dict>
			<key>Resources/newResources/shurukuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,349},{44,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,38}</string>
			</dict>
			<key>Resources/newResources/tijiaoshoujihao.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,774},{160,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,32}</string>
			</dict>
			<key>Resources/newResources/toumingdikuang_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,776},{780,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{780,37}</string>
			</dict>
			<key>Resources/newResources/xiugaierjimima.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,402},{200,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,32}</string>
			</dict>
			<key>Resources/newResources/xiugaimima.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,125},{124,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,32}</string>
			</dict>
			<key>Resources/newResources/zhucezhanghao.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,163},{124,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,32}</string>
			</dict>
			<key>Resources/shop/Alipay.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,259},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>Resources/shop/arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,126},{53,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,25}</string>
			</dict>
			<key>Resources/shop/firstRecharge.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,657},{114,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,48}</string>
			</dict>
			<key>Resources/shop/chongzhijine.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,985},{431,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{431,22}</string>
			</dict>
			<key>Resources/shop/goldMedal.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,657},{94,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,125}</string>
			</dict>
			<key>Resources/shop/huihuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,405},{236,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{236,58}</string>
			</dict>
			<key>Resources/shop/jiange.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,1013},{4,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{4,24}</string>
			</dict>
			<key>Resources/shop/jiangping.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,334},{63,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,27}</string>
			</dict>
			<key>Resources/shop/plus.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,614},{34,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,37}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>HallBigTexture3.png</string>
			<key>realTextureFileName</key>
			<string>HallBigTexture3.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>