<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Resources/signIn/day1.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,428},{72,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,25}</string>
			</dict>
			<key>Resources/signIn/day2.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,555},{72,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,25}</string>
			</dict>
			<key>Resources/signIn/day3.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,633},{72,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,25}</string>
			</dict>
			<key>Resources/signIn/day4.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,711},{70,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,25}</string>
			</dict>
			<key>Resources/signIn/day5.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,133},{92,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,25}</string>
			</dict>
			<key>Resources/newResources/Vip/touxiangkuang-hui.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,715},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>Resources/newResources/Vip/touxiangkuang-jin.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,447},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>Resources/signIn/singin_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{196,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,263}</string>
			</dict>
			<key>Resources/signIn/singin_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,272},{196,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,263}</string>
			</dict>
			<key>Resources/signIn/singin_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,541},{196,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,263}</string>
			</dict>
			<key>Resources/signIn/singin_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,810},{196,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,263}</string>
			</dict>
			<key>Resources/signIn/singin_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,3},{196,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,263}</string>
			</dict>
			<key>Resources/signIn/singin_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,272},{196,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,263}</string>
			</dict>
			<key>Resources/signIn/singin_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,541},{196,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,263}</string>
			</dict>
			<key>Resources/signIn/singin_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,810},{196,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,263}</string>
			</dict>
			<key>Resources/signIn/singin_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,3},{196,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,263}</string>
			</dict>
			<key>Resources/newResources/Setting/kaitong.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,550},{110,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,50}</string>
			</dict>
			<key>Resources/newResources/Setting/yanqi.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,422},{110,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,50}</string>
			</dict>
			<key>Resources/Individual/quedinganniu (2).png</key>
			<dict>
				<key>frame</key>
				<string>{{929,633},{236,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{236,58}</string>
			</dict>
			<key>Resources/Individual/shoujianganniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,3},{110,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,50}</string>
			</dict>
			<key>Resources/Individual/shoujibangdinganniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,459},{236,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{236,58}</string>
			</dict>
			<key>Resources/Individual/shoujiweibangdinganniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,523},{236,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{236,58}</string>
			</dict>
			<key>Resources/Individual/shurukuang (2).png</key>
			<dict>
				<key>frame</key>
				<string>{{974,3},{232,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,36}</string>
			</dict>
			<key>Resources/Individual/shurukuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,964},{283,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{283,38}</string>
			</dict>
			<key>Resources/Individual/shurukuang-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,880},{382,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{382,38}</string>
			</dict>
			<key>Resources/Individual/tianjiaanniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,818},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>Resources/Individual/tiaowen-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,428},{59,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,40}</string>
			</dict>
			<key>Resources/Individual/wodetouxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,3},{124,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,32}</string>
			</dict>
			<key>Resources/Individual/xingxing.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,843},{21,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,20}</string>
			</dict>
			<key>Resources/Individual/xiugaierjimima.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,587},{236,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{236,58}</string>
			</dict>
			<key>Resources/Individual/xiugaimimaanniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,205},{236,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{236,58}</string>
			</dict>
			<key>Resources/Individual/yanzhengkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,241},{112,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,38}</string>
			</dict>
			<key>Resources/Individual/youjiantou.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,787},{25,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,50}</string>
			</dict>
			<key>Resources/Individual/yuanbao.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,493},{56,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,39}</string>
			</dict>
			<key>Resources/Individual/zhezhaotiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,924},{382,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{382,34}</string>
			</dict>
			<key>Resources/Individual/zhuceerjimimaanniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,180},{236,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{236,58}</string>
			</dict>
			<key>Resources/newResources/benefit/arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,459},{110,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,193}</string>
			</dict>
			<key>Resources/newResources/benefit/border.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,359},{63,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{63,47}</string>
			</dict>
			<key>Resources/newResources/benefit/btn_clickToGet.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,119},{236,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{236,58}</string>
			</dict>
			<key>Resources/newResources/benefit/btn_clickToGet_hui.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,651},{216,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,58}</string>
			</dict>
			<key>Resources/newResources/benefit/huodehuafei.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,3},{450,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{450,90}</string>
			</dict>
			<key>Resources/newResources/Fuli/bangdingdikuang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,875},{75,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,81}</string>
			</dict>
			<key>Resources/newResources/Fuli/fuli.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,3},{171,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,61}</string>
			</dict>
			<key>Resources/newResources/Fuli/jiantou2.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,715},{49,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,21}</string>
			</dict>
			<key>Resources/newResources/Fuli/jiantoushang.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,606},{49,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,21}</string>
			</dict>
			<key>Resources/newResources/Fuli/lingjiangli.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,964},{138,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,44}</string>
			</dict>
			<key>Resources/newResources/HallScene/dou.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,818},{36,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,31}</string>
			</dict>
			<key>Resources/newResources/HallScene/fuli.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,715},{95,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,84}</string>
			</dict>
			<key>Resources/newResources/HallScene/xiangzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,962},{38,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,41}</string>
			</dict>
			<key>Resources/newResources/Login/denglu.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,658},{278,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{278,68}</string>
			</dict>
			<key>Resources/newResources/Login/fengleihao.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,732},{278,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{278,68}</string>
			</dict>
			<key>Resources/newResources/Login/zhuce.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,806},{278,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{278,68}</string>
			</dict>
			<key>Resources/newResources/Lottery/btn_exchange.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,205},{110,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,50}</string>
			</dict>
			<key>Resources/newResources/Lottery/direction.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,555},{43,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,15}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>HallBigTexture1.png</string>
			<key>realTextureFileName</key>
			<string>HallBigTexture1.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>