<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Resources/shop/present_bag.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,568},{91,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,123}</string>
			</dict>
			<key>Resources/shop/present_golds.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,665},{131,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,85}</string>
			</dict>
			<key>Resources/shop/presents.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,623},{160,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,32}</string>
			</dict>
			<key>Resources/shop/productBackground.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,626},{158,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,196}</string>
			</dict>
			<key>Resources/shop/return1.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,623},{195,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{195,63}</string>
			</dict>
			<key>Resources/shop/return2.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,623},{195,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{195,63}</string>
			</dict>
			<key>Resources/shop/shopTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,949},{98,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,52}</string>
			</dict>
			<key>Resources/shop/tubiaotouyin.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,515},{49,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,47}</string>
			</dict>
			<key>Resources/shop/uppay.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,403},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Resources/shop/Wxpay.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,459},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>Resources/shop/xuanzechongzhifangshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,844},{267,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{267,24}</string>
			</dict>
			<key>Resources/shop/yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,300},{33,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,31}</string>
			</dict>
			<key>Resources/shop/zhu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,594},{447,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{447,23}</string>
			</dict>
			<key>Resources/signIn/beans.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,789},{36,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,31}</string>
			</dict>
			<key>Resources/signIn/close2.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,568},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>Resources/signIn/doudou.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,362},{151,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,150}</string>
			</dict>
			<key>Resources/signIn/got.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,872},{130,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,112}</string>
			</dict>
			<key>Resources/signIn/itemBackground.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,626},{196,263}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,263}</string>
			</dict>
			<key>Resources/signIn/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,895},{345,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{345,77}</string>
			</dict>
			<key>Resources/signIn/wenzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,204},{124,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,31}</string>
			</dict>
			<key>Resources/signIn/wenzidikuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,568},{45,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,43}</string>
			</dict>
			<key>Resources/bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,337},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>Resources/bianqian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,3},{195,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{195,63}</string>
			</dict>
			<key>Resources/biaoqian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,623},{215,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{215,63}</string>
			</dict>
			<key>Resources/btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,519},{261,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{261,69}</string>
			</dict>
			<key>Resources/btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,874},{261,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{261,69}</string>
			</dict>
			<key>Resources/btnbackground.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,959},{232,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,54}</string>
			</dict>
			<key>Resources/btnbackground_kong.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,776},{232,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,54}</string>
			</dict>
			<key>Resources/dizhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,204},{90,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,28}</string>
			</dict>
			<key>Resources/hudiejie.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,623},{147,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,136}</string>
			</dict>
			<key>Resources/mashangjairu.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,836},{150,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,30}</string>
			</dict>
			<key>Resources/point_top_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,978},{43,526}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,526}</string>
			</dict>
			<key>Resources/toastbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,828},{310,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{310,51}</string>
			</dict>
			<key>Resources/newResources/HallScene/huanzou2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,362},{200,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,258}</string>
			</dict>
			<key>Resources/newResources/Login/youkedenglu.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,885},{278,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{278,68}</string>
			</dict>
			<key>Resources/newResources/HallScene/meinv.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{283,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{283,353}</string>
			</dict>
			<key>Resources/newResources/HallScene/shouchong2.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,665},{95,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,84}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>HallBigTexture4.png</string>
			<key>realTextureFileName</key>
			<string>HallBigTexture4.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>