<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Resources/newResources/HallScene/baoxianxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,301},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>Resources/newResources/HallScene/bi.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,223},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>Resources/newResources/HallScene/bikuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,548},{132,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,29}</string>
			</dict>
			<key>Resources/newResources/HallScene/chongzhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,223},{28,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,29}</string>
			</dict>
			<key>Resources/newResources/HallScene/choujiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,500},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>Resources/newResources/HallScene/duihuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,757},{95,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,84}</string>
			</dict>
			<key>Resources/newResources/HallScene/fanye_zuo1.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,587},{25,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,53}</string>
			</dict>
			<key>Resources/newResources/HallScene/haoyou1.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,858},{95,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,84}</string>
			</dict>
			<key>Resources/newResources/HallScene/huanzou.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,3},{200,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,258}</string>
			</dict>
			<key>Resources/newResources/HallScene/huiyuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,774},{95,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,84}</string>
			</dict>
			<key>Resources/newResources/HallScene/laba.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,977},{37,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,42}</string>
			</dict>
			<key>Resources/newResources/HallScene/labakuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,3},{780,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{780,37}</string>
			</dict>
			<key>Resources/newResources/HallScene/paihang.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,587},{95,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,84}</string>
			</dict>
			<key>Resources/newResources/HallScene/renwu.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,380},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>Resources/newResources/HallScene/shangcheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,587},{95,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,84}</string>
			</dict>
			<key>Resources/newResources/HallScene/shezhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,260},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>Resources/newResources/HallScene/touxiangkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,418},{67,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>
			<key>Resources/newResources/HallScene/xiaoxi.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,339},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>Resources/newResources/HallScene/zitie.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,679},{53,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,103}</string>
			</dict>
			<key>Resources/newResources/addgame/jindutiaodi.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,3},{666,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{666,29}</string>
			</dict>
			<key>Resources/newResources/addgame/majiang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,172},{124,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,45}</string>
			</dict>
			<key>Resources/newResources/addgame/majiang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,172},{124,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,45}</string>
			</dict>
			<key>Resources/newResources/addgame/puke1.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,172},{124,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,45}</string>
			</dict>
			<key>Resources/newResources/addgame/puke2.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,172},{124,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,45}</string>
			</dict>
			<key>Resources/newResources/addgame/qita1.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,209},{124,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,45}</string>
			</dict>
			<key>Resources/newResources/addgame/qita2.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,209},{124,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,45}</string>
			</dict>
			<key>Resources/newResources/addgame/shanchu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,664},{110,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,50}</string>
			</dict>
			<key>Resources/newResources/addgame/tianjia1.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,223},{110,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,50}</string>
			</dict>
			<key>Resources/newResources/addgame/youxidikuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,3},{413,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{413,108}</string>
			</dict>
			<key>Resources/newResources/addgame/jindutiaoheidi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,587},{80,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,91}</string>
			</dict>
			<key>Resources/newResources/addgame/jindutiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,964},{666,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{666,27}</string>
			</dict>
			<key>Resources/newResources/Task/taskBtn_Normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,774},{104,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,41}</string>
			</dict>
			<key>Resources/newResources/Task/taskItem.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,889},{65,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,41}</string>
			</dict>
			<key>Resources/newResources/Task/taskX.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,291},{16,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,24}</string>
			</dict>
			<key>Resources/newResources/Task/yuanbaoIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,925},{45,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,30}</string>
			</dict>
			<key>Resources/shop/gold-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,587},{87,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,75}</string>
			</dict>
			<key>Resources/shop/shop_hot.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,245},{114,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,80}</string>
			</dict>
			<key>Resources/shop/shop_newProduct.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,921},{114,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,80}</string>
			</dict>
			<key>Resources/shop/shop_promot.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,939},{114,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,80}</string>
			</dict>
			<key>Resources/Benefit/daily_sign.png</key>
			<dict>
				<key>frame</key>
				<string>{{41,339},{72,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,77}</string>
			</dict>
			<key>Resources/Benefit/game_beans.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,260},{72,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,77}</string>
			</dict>
			<key>Resources/Benefit/hot.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,505},{35,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,34}</string>
			</dict>
			<key>Resources/Benefit/huafei_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,422},{72,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,77}</string>
			</dict>
			<key>Resources/Benefit/huafei_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,338},{72,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,77}</string>
			</dict>
			<key>Resources/Benefit/huafei_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,255},{72,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,77}</string>
			</dict>
			<key>Resources/Benefit/huaifei_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,421},{72,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,77}</string>
			</dict>
			<key>Resources/Benefit/huaifei_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,338},{72,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,77}</string>
			</dict>
			<key>Resources/Benefit/icon_duiju.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,223},{72,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,77}</string>
			</dict>
			<key>Resources/Benefit/icon_libao.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,223},{72,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,77}</string>
			</dict>
			<key>Resources/Benefit/icon_shareToWeChat.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,421},{72,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,77}</string>
			</dict>
			<key>Resources/Benefit/icon_timeline.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,339},{72,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,77}</string>
			</dict>
			<key>Resources/Benefit/newplayer.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,505},{35,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,34}</string>
			</dict>
			<key>Resources/Benefit/shop_show.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,417},{72,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,77}</string>
			</dict>
			<key>Resources/signIn/coin_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,504},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>Resources/signIn/coin_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,544},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>Resources/signIn/coin_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,504},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>Resources/signIn/coin_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,544},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>Resources/signIn/coin_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,504},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>Resources/signIn/coin_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,544},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>Resources/signIn/coin_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,504},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>Resources/newResources/HallScene/hong.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,544},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Resources/newResources/benefit/spot.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,646},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>Resources/shop/shopIcon_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,353},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>Resources/shop/shopIcon_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,260},{87,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,50}</string>
			</dict>
			<key>Resources/shop/shopIcon_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,339},{87,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,55}</string>
			</dict>
			<key>Resources/shop/shopIcon_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,715},{88,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,60}</string>
			</dict>
			<key>Resources/shop/shopIcon_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,587},{87,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,70}</string>
			</dict>
			<key>Resources/shop/shopIcon_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,587},{87,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,75}</string>
			</dict>
			<key>Resources/shop/award_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,675},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>Resources/shop/award_ingot.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,789},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>Resources/shop/award_presentPag.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,807},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>Resources/shop/award_vip.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,757},{126,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,126}</string>
			</dict>
			<key>Resources/BaseLiving/box_closed.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,374},{134,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,111}</string>
			</dict>
			<key>Resources/BaseLiving/box_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,789},{160,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,169}</string>
			</dict>
			<key>Resources/BaseLiving/box_open.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,514},{134,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,111}</string>
			</dict>
			<key>Resources/BaseLiving/btn_bind_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,679},{234,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,57}</string>
			</dict>
			<key>Resources/BaseLiving/iner_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{438,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{438,163}</string>
			</dict>
			<key>Resources/BaseLiving/plus.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,321},{17,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{17,20}</string>
			</dict>
			<key>Resources/BaseLiving/xicongtianjiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,918},{124,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,32}</string>
			</dict>
			<key>Resources/BaseLiving/shuzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,3},{230,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,26}</string>
			</dict>
			<key>Resources/Benefit/arrow_down1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,62},{43,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,16}</string>
			</dict>
			<key>Resources/Benefit/arrow_down2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,111},{43,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,16}</string>
			</dict>
			<key>Resources/Benefit/arrow_up1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,160},{43,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,16}</string>
			</dict>
			<key>Resources/Benefit/arrow_up2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,209},{43,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,16}</string>
			</dict>
			<key>Resources/Benefit/chakanyaoqingjilu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,721},{220,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,30}</string>
			</dict>
			<key>Resources/Benefit/chakanyaoqingjilu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,679},{220,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,30}</string>
			</dict>
			<key>Resources/Benefit/gang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,344},{4,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,24}</string>
			</dict>
			<key>Resources/Benefit/jiangli.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,3},{53,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,19}</string>
			</dict>
			<key>Resources/Benefit/lingjian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,781},{138,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,44}</string>
			</dict>
			<key>Resources/Benefit/lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,491},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>Resources/Benefit/quwancheng1.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,889},{138,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,44}</string>
			</dict>
			<key>Resources/Benefit/renwujindu.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,807},{164,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,39}</string>
			</dict>
			<key>Resources/Benefit/spot.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,223},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>Resources/Benefit/tishikuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,422},{251,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{251,48}</string>
			</dict>
			<key>Resources/Benefit/yilingqu.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,774},{138,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,44}</string>
			</dict>
			<key>Resources/diZhuSet/diZhuSetBtn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,418},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>Resources/diZhuSet/dzsShuRuKuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,679},{232,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,36}</string>
			</dict>
			<key>Resources/Individual/bangdingzhanghao.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,209},{124,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,32}</string>
			</dict>
			<key>Resources/Individual/bangdingzhengshizhanghao.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,3},{236,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{236,58}</string>
			</dict>
			<key>Resources/Individual/daosanjiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,258},{27,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,19}</string>
			</dict>
			<key>Resources/Individual/datouxiangkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,587},{85,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,80}</string>
			</dict>
			<key>Resources/Individual/dianjixiugaitouxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,789},{230,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,37}</string>
			</dict>
			<key>Resources/Individual/duihuananniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,432},{110,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,50}</string>
			</dict>
			<key>Resources/Individual/erjimimaanniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,422},{236,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{236,58}</string>
			</dict>
			<key>Resources/Individual/gerenxinxibiaoti.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,302},{124,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,32}</string>
			</dict>
			<key>Resources/Individual/jindutiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,209},{372,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{372,26}</string>
			</dict>
			<key>Resources/Individual/jindutiaobejing.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,742},{372,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{372,26}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>HallBigTexture.png</string>
			<key>realTextureFileName</key>
			<string>HallBigTexture.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>