<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Resources/newResources/HallScene/baoxianxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,560},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>Resources/newResources/HallScene/bi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,866},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>Resources/newResources/HallScene/bikuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,666},{132,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,29}</string>
			</dict>
			<key>Resources/newResources/HallScene/chongzhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,866},{28,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,29}</string>
			</dict>
			<key>Resources/newResources/HallScene/choujiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,633},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>Resources/newResources/HallScene/duihuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,866},{95,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,84}</string>
			</dict>
			<key>Resources/newResources/HallScene/fanye_zuo1.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,943},{25,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,53}</string>
			</dict>
			<key>Resources/newResources/HallScene/haoyou1.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,866},{95,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,84}</string>
			</dict>
			<key>Resources/newResources/HallScene/huanzou.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,0},{200,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,258}</string>
			</dict>
			<key>Resources/newResources/HallScene/huiyuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,866},{95,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,84}</string>
			</dict>
			<key>Resources/newResources/HallScene/laba.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,798},{37,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,42}</string>
			</dict>
			<key>Resources/newResources/HallScene/labakuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,0},{780,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{780,37}</string>
			</dict>
			<key>Resources/newResources/HallScene/paihang.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,866},{95,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,84}</string>
			</dict>
			<key>Resources/newResources/HallScene/renwu.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,383},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>Resources/newResources/HallScene/shangcheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,383},{95,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,84}</string>
			</dict>
			<key>Resources/newResources/HallScene/shezhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,456},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>Resources/newResources/HallScene/touxiangkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,799},{67,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>
			<key>Resources/newResources/HallScene/xiaoxi.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,383},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>Resources/newResources/HallScene/zitie.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,958},{53,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,103}</string>
			</dict>
			<key>Resources/newResources/addgame/jindutiaodi.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,0},{666,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{666,29}</string>
			</dict>
			<key>Resources/newResources/addgame/majiang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,958},{163,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,59}</string>
			</dict>
			<key>Resources/newResources/addgame/majiang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,780},{163,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{163,65}</string>
			</dict>
			<key>Resources/newResources/addgame/puke1.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,958},{163,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,59}</string>
			</dict>
			<key>Resources/newResources/addgame/puke2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,958},{163,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,65}</string>
			</dict>
			<key>Resources/newResources/addgame/qita1.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,895},{163,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,59}</string>
			</dict>
			<key>Resources/newResources/addgame/qita2.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,958},{163,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,65}</string>
			</dict>
			<key>Resources/newResources/addgame/shanchu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,780},{106,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,49}</string>
			</dict>
			<key>Resources/newResources/addgame/tianjia1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,383},{106,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,49}</string>
			</dict>
			<key>Resources/newResources/addgame/youxidikuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,0},{413,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{413,107}</string>
			</dict>
			<key>Resources/newResources/addgame/jindutiaoheidi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,564},{80,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,91}</string>
			</dict>
			<key>Resources/newResources/addgame/jindutiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,200},{666,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{666,27}</string>
			</dict>
			<key>Resources/newResources/Task/taskBtn_Normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,383},{100,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,35}</string>
			</dict>
			<key>Resources/newResources/Task/taskBtn_Press.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,483},{100,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,35}</string>
			</dict>
			<key>Resources/newResources/Task/taskItem.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,200},{547,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{547,42}</string>
			</dict>
			<key>Resources/newResources/Task/taskList.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{586,383}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{586,383}</string>
			</dict>
			<key>Resources/newResources/Task/taskX.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,996},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,19}</string>
			</dict>
			<key>Resources/newResources/Task/yuanbaoIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,840},{45,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,31}</string>
			</dict>
			<key>Resources/shop/gold-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,943},{75,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,40}</string>
			</dict>
			<key>Resources/shop/gold-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,489},{114,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,41}</string>
			</dict>
			<key>Resources/shop/gold-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,467},{97,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,81}</string>
			</dict>
			<key>Resources/shop/gold-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,780},{115,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,98}</string>
			</dict>
			<key>Resources/shop/gold-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,780},{116,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,102}</string>
			</dict>
			<key>Resources/shop/gold-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,866},{87,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,75}</string>
			</dict>
			<key>Resources/shop/shop_hot.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,886},{114,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,80}</string>
			</dict>
			<key>Resources/shop/shop_newProduct.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,878},{114,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,80}</string>
			</dict>
			<key>Resources/shop/shop_promot.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,896},{114,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,80}</string>
			</dict>
			<key>Resources/Benefit/daily_sign.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,655},{72,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,77}</string>
			</dict>
			<key>Resources/Benefit/game_beans.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,727},{72,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,77}</string>
			</dict>
			<key>Resources/Benefit/hot.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,958},{35,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,34}</string>
			</dict>
			<key>Resources/Benefit/huafei_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,799},{72,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,77}</string>
			</dict>
			<key>Resources/Benefit/huafei_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,719},{72,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,77}</string>
			</dict>
			<key>Resources/Benefit/huafei_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,747},{72,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,77}</string>
			</dict>
			<key>Resources/Benefit/huaifei_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,747},{72,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,77}</string>
			</dict>
			<key>Resources/Benefit/huaifei_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,747},{72,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,77}</string>
			</dict>
			<key>Resources/Benefit/icon_duiju.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,747},{72,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,77}</string>
			</dict>
			<key>Resources/Benefit/icon_libao.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,747},{72,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,77}</string>
			</dict>
			<key>Resources/Benefit/icon_shareToWeChat.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,583},{72,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,77}</string>
			</dict>
			<key>Resources/Benefit/icon_timeline.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,660},{72,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,77}</string>
			</dict>
			<key>Resources/Benefit/newplayer.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,603},{35,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,34}</string>
			</dict>
			<key>Resources/Benefit/shop_show.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,483},{72,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,77}</string>
			</dict>
			<key>Resources/signIn/coin_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,637},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>Resources/signIn/coin_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,583},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>Resources/signIn/coin_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,617},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>Resources/signIn/coin_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,651},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>Resources/signIn/coin_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,671},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>Resources/signIn/coin_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,705},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>Resources/signIn/coin_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,685},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>Resources/newResources/HallScene/hong.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,992},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>res.png</string>
			<key>realTextureFileName</key>
			<string>res.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>