<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>MahjUI/Resources/btnReady.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,0},{284,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,119}</string>
			</dict>
			<key>MahjUI/Resources/image_hu_da.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,129},{102,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>MahjUI/Resources/image_hu_xiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,187},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>MahjUI/Resources/liuju.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,222},{409,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{409,43}</string>
			</dict>
			<key>MahjUI/Resources/pingju.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,104},{243,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,118}</string>
			</dict>
			<key>MahjUI/Resources/shengli.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,119},{243,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,118}</string>
			</dict>
			<key>MahjUI/Resources/shibai.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{414,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{414,129}</string>
			</dict>
			<key>MahjUI/Resources/wenzi_shule.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,701},{121,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,40}</string>
			</dict>
			<key>MahjUI/Resources/wenzi_yingle.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,967},{121,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,41}</string>
			</dict>
			<key>MahjUI/Resources/wenzi_youxidou.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,979},{130,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,39}</string>
			</dict>
			<key>MahjUI/Resources/zailaiyiju1.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,104},{237,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,76}</string>
			</dict>
			<key>MahjUI/Resources/btnBack1.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,129},{82,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,59}</string>
			</dict>
			<key>MahjUI/Resources/btnBack2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,341},{82,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,59}</string>
			</dict>
			<key>MahjUI/Resources/huanzhuokaishi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,341},{237,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,76}</string>
			</dict>
			<key>MahjUI/Resources/huanzhuokaishi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,680},{237,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,76}</string>
			</dict>
			<key>MahjUI/Resources/zailaiyiju2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,917},{237,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,76}</string>
			</dict>
			<key>MahjUI/Resources/Ready_0004_.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,724},{120,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,92}</string>
			</dict>
			<key>MahjUI/Resources/jiqiren1.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,917},{70,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,87}</string>
			</dict>
			<key>MahjUI/Resources/jishiqi_hong.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,578},{96,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,35}</string>
			</dict>
			<key>MahjUI/Resources/jishiqi_huang.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,422},{35,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,96}</string>
			</dict>
			<key>MahjUI/Resources/jishiqi_lan.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,333},{96,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,35}</string>
			</dict>
			<key>MahjUI/Resources/jishiqi_lv.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,275},{35,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,96}</string>
			</dict>
			<key>MahjUI/Resources/jishiqi_ting_xia.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,222},{26,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,18}</string>
			</dict>
			<key>MahjUI/Resources/liaotian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,816},{70,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,87}</string>
			</dict>
			<key>MahjUI/Resources/Ready_0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,211},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>MahjUI/Resources/shezhi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,822},{70,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,87}</string>
			</dict>
			<key>MahjUI/Resources/shouhui1.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,748},{42,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,107}</string>
			</dict>
			<key>MahjUI/Resources/shouhui2.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,808},{42,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,107}</string>
			</dict>
			<key>MahjUI/Resources/Start_0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,237},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>MahjUI/Resources/zhankai1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,423},{42,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,107}</string>
			</dict>
			<key>MahjUI/Resources/zhankai2.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,423},{42,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,107}</string>
			</dict>
			<key>MahjUI/Resources/zhankaiguang.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,0},{104,318}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,318}</string>
			</dict>
			<key>MahjUI/Resources/Button_CelTrust_Nol.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,917},{211,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,78}</string>
			</dict>
			<key>MahjUI/Resources/fan.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,886},{30,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,36}</string>
			</dict>
			<key>MahjUI/Resources/TurstText.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,993},{210,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,27}</string>
			</dict>
			<key>MahjUI/Resources/chat/biaoqing1.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,917},{137,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,50}</string>
			</dict>
			<key>MahjUI/Resources/chat/biaoqing2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,864},{137,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,50}</string>
			</dict>
			<key>MahjUI/Resources/chat/changyongyu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,864},{137,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,50}</string>
			</dict>
			<key>MahjUI/Resources/chat/changyongyu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,864},{137,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,50}</string>
			</dict>
			<key>MahjUI/Resources/chat/duihuatiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,119},{445,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{445,39}</string>
			</dict>
			<key>MahjUI/Resources/chat/fasong1.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,860},{135,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,57}</string>
			</dict>
			<key>MahjUI/Resources/chat/fasong2.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,613},{135,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,57}</string>
			</dict>
			<key>MahjUI/Resources/chat/jilu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,838},{137,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,50}</string>
			</dict>
			<key>MahjUI/Resources/chat/jilu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,564},{137,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,50}</string>
			</dict>
			<key>MahjUI/Resources/chat/kuangshang.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,222},{229,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,87}</string>
			</dict>
			<key>MahjUI/Resources/chat/kuangxia.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,451},{229,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,87}</string>
			</dict>
			<key>MahjUI/Resources/chat/kuangyou.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,495},{229,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,87}</string>
			</dict>
			<key>MahjUI/Resources/chat/kuangzuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,631},{229,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,87}</string>
			</dict>
			<key>MahjUI/Resources/FrameInfo_Down.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,860},{140,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,106}</string>
			</dict>
			<key>MahjUI/Resources/FrameInfo_Left.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,724},{140,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,106}</string>
			</dict>
			<key>MahjUI/Resources/FrameInfo_Right.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,724},{140,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,106}</string>
			</dict>
			<key>MahjUI/Resources/FrameInfo_Up.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,724},{140,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,106}</string>
			</dict>
			<key>Start_0023.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,543},{22,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,21}</string>
			</dict>
			<key>Start_0024.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,449},{40,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,21}</string>
			</dict>
			<key>MahjUI/Resources/Gamefenshu.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,995},{29,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,29}</string>
			</dict>
			<key>MahjUI/Resources/GameMoney.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,995},{29,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,29}</string>
			</dict>
			<key>MahjUI/Resources/Start_0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,187},{44,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,42}</string>
			</dict>
			<key>MahjUI/Resources/Start_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,886},{30,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,45}</string>
			</dict>
			<key>MahjUI/Resources/Start_0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,341},{55,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,81}</string>
			</dict>
			<key>MahjUI/Resources/chat/biaoqingkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,129},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>MahjUI/Resources/chat/biaoqingkuang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,275},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>MahjUI/Resources/setting/chupaifangshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,724},{138,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,34}</string>
			</dict>
			<key>MahjUI/Resources/setting/danjianniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,341},{54,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,26}</string>
			</dict>
			<key>MahjUI/Resources/setting/kai.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,516},{27,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,25}</string>
			</dict>
			<key>MahjUI/Resources/setting/shezhianniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,862},{40,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,34}</string>
			</dict>
			<key>MahjUI/Resources/setting/shezhianniu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,993},{96,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,29}</string>
			</dict>
			<key>MahjUI/Resources/setting/shezhianniu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,995},{96,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,29}</string>
			</dict>
			<key>MahjUI/Resources/setting/shezhiguan.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,489},{27,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,26}</string>
			</dict>
			<key>MahjUI/Resources/setting/shezhiwenzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,222},{273,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{273,96}</string>
			</dict>
			<key>MahjUI/Resources/setting/shuangji.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,395},{54,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,26}</string>
			</dict>
			<key>MahjUI/Resources/setting/yinxiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,237},{74,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,32}</string>
			</dict>
			<key>MahjUI/Resources/setting/yinyue.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,530},{70,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,34}</string>
			</dict>
			<key>MahjUI/Resources/setting/zhendong.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,530},{73,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,34}</string>
			</dict>
			<key>MahjUI/Resources/task/taskBox_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,724},{114,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,99}</string>
			</dict>
			<key>MahjUI/Resources/task/taskBox_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,724},{84,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>MahjUI/Resources/task/taskBox_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,724},{113,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,98}</string>
			</dict>
			<key>MahjUI/Resources/task/taskMsg.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,917},{194,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,62}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Image.png</string>
			<key>realTextureFileName</key>
			<string>Image.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>