<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ALL IN_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,482},{218,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,118}}</string>
                <key>sourceSize</key>
                <string>{218,118}</string>
            </dict>
            <key>ALL IN_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{218,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,118}}</string>
                <key>sourceSize</key>
                <string>{218,118}</string>
            </dict>
            <key>ALL IN_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,362},{218,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,118}}</string>
                <key>sourceSize</key>
                <string>{218,118}</string>
            </dict>
            <key>ALL IN_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{218,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,118}}</string>
                <key>sourceSize</key>
                <string>{218,118}</string>
            </dict>
            <key>ALL IN_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,242},{218,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,118}}</string>
                <key>sourceSize</key>
                <string>{218,118}</string>
            </dict>
            <key>ALL IN_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{218,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,118}}</string>
                <key>sourceSize</key>
                <string>{218,118}</string>
            </dict>
            <key>ALL IN_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,122},{218,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,118}}</string>
                <key>sourceSize</key>
                <string>{218,118}</string>
            </dict>
            <key>ALL IN_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{218,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,118}}</string>
                <key>sourceSize</key>
                <string>{218,118}</string>
            </dict>
            <key>ALL IN_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{218,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,118}}</string>
                <key>sourceSize</key>
                <string>{218,118}</string>
            </dict>
            <key>ALL IN_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,118}}</string>
                <key>sourceSize</key>
                <string>{218,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AllIn.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1d06ee718af8556b2ade9da4d6cf252$</string>
            <key>textureFileName</key>
            <string>AllIn.png</string>
        </dict>
    </dict>
</plist>
