<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>publicOpenCards_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{62,118}}</string>
                <key>sourceSize</key>
                <string>{90,118}</string>
            </dict>
            <key>publicOpenCards_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{34,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{34,118}}</string>
                <key>sourceSize</key>
                <string>{90,118}</string>
            </dict>
            <key>publicOpenCards_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{6,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,1},{6,116}}</string>
                <key>sourceSize</key>
                <string>{90,118}</string>
            </dict>
            <key>publicOpenCards_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{26,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{26,118}}</string>
                <key>sourceSize</key>
                <string>{90,118}</string>
            </dict>
            <key>publicOpenCards_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{54,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{54,118}}</string>
                <key>sourceSize</key>
                <string>{90,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>publicOpenCards.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a582d1ffbf72d28d9e9285ec147e14b$</string>
            <key>textureFileName</key>
            <string>publicOpenCards.png</string>
        </dict>
    </dict>
</plist>
