<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SameLoong_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,702},{346,110}}</string>
                <key>offset</key>
                <string>{56,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,65},{346,110}}</string>
                <key>sourceSize</key>
                <string>{768,400}</string>
            </dict>
            <key>SameLoong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1624},{420,226}}</string>
                <key>offset</key>
                <string>{94,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,66},{420,226}}</string>
                <key>sourceSize</key>
                <string>{768,400}</string>
            </dict>
            <key>SameLoong_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1098},{660,260}}</string>
                <key>offset</key>
                <string>{-19,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,65},{660,260}}</string>
                <key>sourceSize</key>
                <string>{768,400}</string>
            </dict>
            <key>SameLoong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1380},{468,242}}</string>
                <key>offset</key>
                <string>{118,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,66},{468,242}}</string>
                <key>sourceSize</key>
                <string>{768,400}</string>
            </dict>
            <key>SameLoong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1360},{488,282}}</string>
                <key>offset</key>
                <string>{127,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,43},{488,282}}</string>
                <key>sourceSize</key>
                <string>{768,400}</string>
            </dict>
            <key>SameLoong_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,814},{564,334}}</string>
                <key>offset</key>
                <string>{89,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,66},{564,334}}</string>
                <key>sourceSize</key>
                <string>{768,400}</string>
            </dict>
            <key>SameLoong_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{702,308}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,66},{702,308}}</string>
                <key>sourceSize</key>
                <string>{768,400}</string>
            </dict>
            <key>SameLoong_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{688,260}}</string>
                <key>offset</key>
                <string>{-17,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,65},{688,260}}</string>
                <key>sourceSize</key>
                <string>{768,400}</string>
            </dict>
            <key>SameLoong_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{698,306}}</string>
                <key>offset</key>
                <string>{-35,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,62},{698,306}}</string>
                <key>sourceSize</key>
                <string>{768,400}</string>
            </dict>
            <key>SameLoong_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{664,260}}</string>
                <key>offset</key>
                <string>{-18,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,65},{664,260}}</string>
                <key>sourceSize</key>
                <string>{768,400}</string>
            </dict>
            <key>SameLoong_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{664,260}}</string>
                <key>offset</key>
                <string>{-18,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,65},{664,260}}</string>
                <key>sourceSize</key>
                <string>{768,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SameLoong.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69060b62118699e19ca911d837c5bb6c$</string>
            <key>textureFileName</key>
            <string>SameLoong.png</string>
        </dict>
    </dict>
</plist>
