<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SameColor_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,846},{276,126}}</string>
                <key>offset</key>
                <string>{57,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,61},{276,126}}</string>
                <key>sourceSize</key>
                <string>{768,400}</string>
            </dict>
            <key>SameColor_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{344,234}}</string>
                <key>offset</key>
                <string>{90,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,61},{344,234}}</string>
                <key>sourceSize</key>
                <string>{768,400}</string>
            </dict>
            <key>SameColor_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1578},{546,260}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,62},{546,260}}</string>
                <key>sourceSize</key>
                <string>{768,400}</string>
            </dict>
            <key>SameColor_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{612,252}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,61},{612,252}}</string>
                <key>sourceSize</key>
                <string>{768,400}</string>
            </dict>
            <key>SameColor_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{650,264}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,61},{650,264}}</string>
                <key>sourceSize</key>
                <string>{768,400}</string>
            </dict>
            <key>SameColor_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{666,268}}</string>
                <key>offset</key>
                <string>{-12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,58},{666,268}}</string>
                <key>sourceSize</key>
                <string>{768,400}</string>
            </dict>
            <key>SameColor_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{624,260}}</string>
                <key>offset</key>
                <string>{-12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,62},{624,260}}</string>
                <key>sourceSize</key>
                <string>{768,400}</string>
            </dict>
            <key>SameColor_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1054},{582,260}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,62},{582,260}}</string>
                <key>sourceSize</key>
                <string>{768,400}</string>
            </dict>
            <key>SameColor_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,238},{606,326}}</string>
                <key>offset</key>
                <string>{-34,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,61},{606,326}}</string>
                <key>sourceSize</key>
                <string>{768,400}</string>
            </dict>
            <key>SameColor_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,974},{558,266}}</string>
                <key>offset</key>
                <string>{-14,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,56},{558,266}}</string>
                <key>sourceSize</key>
                <string>{768,400}</string>
            </dict>
            <key>SameColor_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1316},{546,260}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,62},{546,260}}</string>
                <key>sourceSize</key>
                <string>{768,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SameColor.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c7cbe85144aad0878f05ad761c2dc60$</string>
            <key>textureFileName</key>
            <string>SameColor.png</string>
        </dict>
    </dict>
</plist>
