<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,333},{44,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{44,62}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,403},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,16},{44,46}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>11_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,310},{18,18}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{18,18}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,195},{30,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{30,60}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>12_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,239},{12,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{12,24}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,333},{52,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{52,60}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>13_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,388},{22,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{22,22}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,449},{44,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{44,58}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>14_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,431},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{16,22}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,449},{44,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{44,58}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>15_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,128},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{16,22}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,227},{36,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{36,68}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>16_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,472},{14,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{14,26}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,123},{48,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{48,70}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>17_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,401},{20,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{20,28}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,223},{36,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{36,68}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>18_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,326},{14,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{14,26}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,335},{48,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{48,64}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>19_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,342},{20,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{20,26}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>1_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,444},{18,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{18,26}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,239},{44,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{44,68}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,261},{50,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{50,70}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>21_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,379},{20,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{20,28}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,239},{14,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,6},{14,66}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>22_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,388},{6,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{6,26}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,265},{46,66}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{46,66}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>23_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,416},{18,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{18,26}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,193},{34,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{34,66}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>24_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,493},{14,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{14,26}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,335},{40,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{40,66}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>25_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,416},{16,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{16,26}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,335},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{40,66}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>26_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,370},{16,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{16,26}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,309},{40,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{40,68}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>27_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,308},{14,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{14,26}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,397},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{40,66}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>28_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,370},{16,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{16,26}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,265},{40,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{40,68}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>29_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,342},{16,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{16,26}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>2_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,388},{18,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{18,26}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,193},{44,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{44,70}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>31.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,395},{50,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{50,68}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>31_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,349},{20,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{20,28}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,465},{42,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{42,54}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>32_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,444},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{18,22}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,457},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{46,50}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>33_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,412},{20,20}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{20,20}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>34.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,465},{42,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{42,50}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>34_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,488},{18,20}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{18,20}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>35.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,221},{42,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{42,70}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>35_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,431},{18,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{18,28}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>36.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,401},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{52,54}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>36_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,379},{22,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{22,22}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>37.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,449},{40,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{40,58}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>37_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,379},{20,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{20,26}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>3_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,401},{18,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{18,28}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,403},{44,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{44,68}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>4_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,489},{18,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{18,26}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,265},{44,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{44,68}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>5_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,463},{18,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{18,28}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,146},{44,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{44,70}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>6_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,431},{18,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{18,30}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,74},{44,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{44,70}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>7_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,401},{18,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{18,28}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,265},{44,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{44,68}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>8_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,461},{18,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{18,26}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{44,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{44,70}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>9_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,349},{18,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{18,28}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>Flat_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,239},{30,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>Flat_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,309},{38,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,33}}</string>
                <key>sourceSize</key>
                <string>{38,33}</string>
            </dict>
            <key>Hand_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,128},{63,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,97}}</string>
                <key>sourceSize</key>
                <string>{63,97}</string>
            </dict>
            <key>Hand_0_Visitor.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,124},{63,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,97}}</string>
                <key>sourceSize</key>
                <string>{63,97}</string>
            </dict>
            <key>Hand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,251},{18,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,57}}</string>
                <key>sourceSize</key>
                <string>{18,57}</string>
            </dict>
            <key>Hand_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,261},{30,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>Hand_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,192},{18,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,57}}</string>
                <key>sourceSize</key>
                <string>{18,57}</string>
            </dict>
            <key>MultipleChow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,120}}</string>
                <key>sourceSize</key>
                <string>{209,120}</string>
            </dict>
            <key>River_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,192},{30,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>River_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,286},{38,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,33}}</string>
                <key>sourceSize</key>
                <string>{38,33}</string>
            </dict>
            <key>btn_chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{132,123}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{132,123}}</string>
                <key>sourceSize</key>
                <string>{156,145}</string>
            </dict>
            <key>btn_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{140,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{140,119}}</string>
                <key>sourceSize</key>
                <string>{164,143}</string>
            </dict>
            <key>btn_guo.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,123},{90,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{90,96}}</string>
                <key>sourceSize</key>
                <string>{108,112}</string>
            </dict>
            <key>btn_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{144,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{144,130}}</string>
                <key>sourceSize</key>
                <string>{170,152}</string>
            </dict>
            <key>btn_peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,2},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{124,124}}</string>
                <key>sourceSize</key>
                <string>{148,146}</string>
            </dict>
            <key>btn_ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{139,126}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{139,126}}</string>
                <key>sourceSize</key>
                <string>{163,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Playing.png</string>
            <key>size</key>
            <string>{527,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4167088a6bd0d6abcf917dde17b8c52$</string>
            <key>textureFileName</key>
            <string>Playing.png</string>
        </dict>
    </dict>
</plist>
